EXPO_PUBLIC_SUPABASE_URL=ton_url_supabase_ici
EXPO_PUBLIC_SUPABASE_ANON_KEY=ta_cle_anon_supabase_ici
EXPO_PUBLIC_GROQ_API_KEY=ta_cle_api_groq_ici

EXPO_PUBLIC_BYPASS_AUTH=false
EXPO_PUBLIC_TEST_EMAIL=
EXPO_PUBLIC_TEST_PASSWORD=